@page
@model RecruitCatSharm3a6.Pages.OurTeamModel
@{
}
<body style="background-color:lightseagreen" ;>
    
       
            
                <div class="text-center">
                    <h6 class="display-4"> <strong>Our Team</strong></h6>
                    </p>
                </div>
            
          
   
                <div class="row">
                    <div class="col-sm-6" style="background-color:white;">
                        <div class="card" ;"text-center">
                            <div class="text-center">
                                <img src="https://st3.depositphotos.com/1007566/13175/v/600/depositphotos_131750410-stock-illustration-woman-female-avatar-character.jpg" width="500">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Anukriti Sharma - CEO </h5>
                                <p class="card-text"> Her primary responsibilities include making major corporate decisions, managing the overall operations and resources of a company, acting as the main point of communication between the board of directors (the board) and corporate operations and being the public face of the company.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="background-color:white;">
                        <div class="card">
                            <div class="text-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROkyvJF_DHmwIlCYZqft5P2S0RCDu6E4GT5A&usqp=CAU" width="500">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Nina Doberv - Chief Marketing Officer (CMO) </h5>
                                <p class="card-text">The chief marketing officer (CMO) directs marketing campaigns, plans marketing budgets and manages the entire marketing department of their company.</p>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="background-color:white;">
                        <div class="card">
                            <div class="text-center">
                                <img src="http://pm1.narvii.com/6666/260d6c1f4049da07f957b87dce281db31025c976_00.jpg" width="500">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Damon Salvator - Digital Marketing Manager</h5>
                                <p class="card-text">Is responsible for developing, implementing and overseeing long-term digital marketing campaigns as well as short-term advertising techniques.</p>
                            </div>
                        </div>
                    </div>
                </div>
</body>

