@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:lightseagreen" ;>
    <div class="text-center">
        <h6 class="display-4"> AS Recruitment Firm</h6>
        <p>
            <address>
                2334 Hilltop Ave<br>
                Cincinnati, OH 45221 United States
            </address>

        </p>
    </div>
    <div class="text-center">
        <img src="https://cdn.wallpapersafari.com/56/59/8YjOLA.png" / width="800">

    </div>
    <h4>About Us</h4>
    <p>
        We're a small but perfectly formed independent agency; specialising in Executive Search and recruitment of Marketing and Digital jobs in California, <br />
        throughout Florida .Our team of knowledgeable professionals provides customized recruiting services to clients and candidates, including direct hire, temporary-to-hire, and temporary placement,<br>
        and we approach each type with the same degree of professional assessment.
    </p>
    <h4 style="text-align:left;">Happy Clients</h4>
    <p>Our Agency provides its clients with a focused and refined process in deciding that investment.We ensure our clients’ priorities, role requirements, company culture and objectives are upheld throughout the recruitment process. The AS Recruitment Firm quickly assembles a talented pool of candidates for consideration, and clients find our placements refreshing and reliable.</p>
    <ul>
        <li>Post the job online to source applicants with the right skills</li>
        <li>CV and cover letter advice</li>
        <li>Specialist advice for your chosen field</li>
        <li>Expert interview coaching</li>
    </ul>
    <h4>Industries the company specializes in</h4>
    <ul class="industries-list">
        <li class="industries-list-item">Consulting</li>
        <li class="industries-list-item">Finance</li>
        <li class="industries-list-item">Administrative</li>
        <li class="industries-list-item">Executive Support</li>
        <li class="industries-list-item">Human Resources</li>
        <li class="industries-list-item">IT/Technology</li>
        <li class="industries-list-item">Program and Project Management</li>

    </ul>
    <h4 style="text-align:left;">Testimonials</h4>
    <div class="card" ;class="p-3 mb-2 bg-light text-dark">
        <div class="card-body">
            <p class="card-text">
                Having a partnership with Sandhya and the company People has significantly improved our time-to-hire on several key roles over the past six months.<br />
                - Nathan Scott
            </p>

        </div>
    </div>
    <div class="card" ;class="p-3 mb-2 bg-light text-dark">
        <div class="card-body">
            <p class="card-text">
                Brooke has been absolutely amazing throughout the whole recruitment process! I have never met such a professional and dedicated recruitment person.<br />
                - Halsey
            </p>

        </div>
    </div>

        <footer class="text-right">
            <p>
                Please reach out to us at below platforms<br />
                Phone Number = 513-456-8876<br />
                <a href="linkedin.com/in/anukriti-sharma-094a05a7">Linkdin</a>
            </p>
        </footer>


</body>

